# General
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# If you're using Gradle, you might want to ignore the following directories as well
.gradle/
/build/

# Local .properties files
**/local.properties

# macOS specific
**/.DS_Store

# Windows specific
**/Thumbs.db
**/Desktop.ini

# Visual Studio Code - Workspace-specific settings
.vscode/

# Temporary files created by Dart tools
**/*.bak

# User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/assetWizardSettings.xml
**/.idea/dictionaries

# User-specific flutter build log
**/flutter_*.log

# Others
*.jks
*.keystore
secret.key
key.properties

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
